@import 'styles/index.scss';


.mainHeader__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto 30px;
    background: $background;
    .mainHeader__socialMedia{
        .mainHeader__icon{
            margin: 0 16px;
            a {
                padding: 4px;
                color: $text;
                font-size: $small-font;

            }
        }
    }
}

.logo{
    margin-left: 16px;
    color: $white-color;
}


@media screen and (min-width: 500px) {
    .mainHeader__container {
        width: 85%;
    }
  }





.balances_container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 16px auto;
    .balances_wrapper{
        display: flex;
        align-items: center;
        margin: 0 8px;
        h3{
            font-size: $big-font;
            color: $text;
            padding: 4px;
        }
        p{

            font-size: $medium-font;
            text-align: center;
            color: $primary;
        }
    }
}
