@import 'styles/index.scss';


.transfers__container{
    min-height: 85vh;
}

.transfers__walletInfo{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 3px;
}

.transfers__walletInfo::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    bottom: -10%;
    background: $primary;
}

.transfers__wrapper{
    padding: 8px 16px;
}

