@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap');

$dark-background: #444444;
$background: #282C34;
$lighter-background: #907E65;
$light-grey: #CACACA;
$primary: #78ED9C;
$primary-dark: #4A975F;
$primary-darkest: #29593c;
$white-color: #FFFFFF;
$text: $white-color;
$secondary: #EA543D;
$post-shadow: 0 2px 4px 0 rgba(0,0,0,.4);


$big-font: 3.35rem;
$medium-font: 1.4rem;
$normal-font: 1rem;
$small-font: 0.9rem;

